<template>
  <div>
    <div style="border-radius: 10px; border : solid green;padding: 10px;">
      <h3>รายละเอียดบริษัท</h3>
        <b-card>
          บริษัท โปรเฟสชันแนลวัน จำกัด สาขา ชลบุรี<br />
          สถานที่ตั้งบริษัท 999/9 ม.3 ตำบลหนองขาม อ.ศรีราชา จ.ชลบุรี<br />
          อบรมวันที่ 5 มีนาคม 2563 เวลา 13.00-16.00 น.<br />
          ห้อง IF-5T05 อาคารคณะ วิทยาการสารสนเทศ<br />
          รับจำนวน 150 ที่นัั้ง<br />
          อบรมการเขียน 'CV+Resume'
        </b-card>
    </div>
    <br>
    <div style="border-radius: 10px; border : solid green;padding: 10px;">
      <h3>รายชื่อนิสิตที่เข้าอบรม</h3>
        <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields">
      <template v-slot:cell(รายละเอียด)="data">
        <div>
          <b-link href="../ShowA/demo.vue"><b-button variant="primary" @click="editUser(data.item)">รายละเอียด</b-button></b-link>
        </div>
      </template>
    </b-table>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        id: -1,
        name: '',
        sk: -1,
        pe: -1
      },
      usersList: [
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' },
        { รหัสนิสิต: 60160256, ชื่อ: 'นายมงคล  แก้วอินทร์', สาขา: 'วิทยาการคอมพิวเตอร์', ชั้นปี: '3' }
      ],
      lastId: 3,
      fields: ['รหัสนิสิต', 'ชื่อ', 'สาขา', 'ชั้นปี']
    }
  },
  methods: {
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  }
}
</script>
