<template>
  <div>
    <b-dropdown
      id="dropdown-1"
      text="เลือกประเภท"
      class="float-right"
      @click="select"
      style="margin:5px"
      variant="outline-primary"
    >
      <b-dropdown-item value="เตรียมความพร้อม">เตรียมความพร้อม</b-dropdown-item>
      <b-dropdown-item value="วิชาการ">วิชาการ</b-dropdown-item>
    </b-dropdown>
    <br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields">
      <template v-slot:cell(รายละเอียด)="data">
        <div>
          <b-link href="../ShowA/demo.vue"
            ><b-button variant="primary" @click="editUser(data.item)"
              >รายละเอียด</b-button
            ></b-link
          >
        </div>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        gender: 'null'
      },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'หัวหน้าฝ่าย', text: 'หัวหน้าฝ่าย' },
        { value: 'รองหัวหน้าฝ่าย', text: 'รองหัวหน้าฝ่าย' },
        { value: 'พนักงาน', text: 'พนักงาน' }
      ],
      usersList: [
        {
          ลำดับ: 1,
          ชื่อบริษัท: 'บริษัท โปรเฟสชันแนลวัน จำกัด',
          ประเภท: 'เตรียมความพร้อม'
        },
        { ลำดับ: 2, ชื่อบริษัท: 'LINE API Workshop', ประเภท: 'วิชาการ' },
        { ลำดับ: 3, ชื่อบริษัท: 'บริษัท AIS', ประเภท: 'เตรียมความพร้อม' },
        { ลำดับ: 4, ชื่อบริษัท: 'บริษัท TOYOTA', ประเภท: 'วิชาการ' },
        {
          ลำดับ: 5,
          ชื่อบริษัท: 'บริษัท ไทยพานิช จำกัด',
          ประเภท: 'เตรียมความพร้อม'
        }
      ],
      lastId: 3,
      fields: ['ลำดับ', 'ชื่อบริษัท', 'ประเภท', 'รายละเอียด']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    select () {
      console.log('Select Now')
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  type: {
    types: ''
  }
}
</script>
