<template>
  <div>
  <b-dropdown id="dropdown-1" text="เลือกบริษัท" class="float-right" @click="select" style="margin:5px">
    <b-dropdown-item>AIS</b-dropdown-item>
    <b-dropdown-item>TRUE</b-dropdown-item>
    <b-dropdown-item>DETACK</b-dropdown-item>
    <b-dropdown-item>AIA</b-dropdown-item>
    <b-dropdown-item>SAMSUNG</b-dropdown-item>
  </b-dropdown>
  <b-button variant="success" class="float-right" @click="addNewUser" style="margin:5px">เพิ่มข้อมูล</b-button>
  <b-button variant="primary" class="float-right" style="margin:5px">ดาวโหลด</b-button>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="รหัสชื่อนิสิต"
          label-for="studentnumber"
          :invalid-feedback="invalidFeedbackstudentnumber"
          :valid-feedback="validFeedbackstudentnumber"
          :state="statestudentnumber"
        >
          <b-form-input id="studentnumber" v-model="form.studentnumber" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อนิสิต"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="ตำแหน่ง:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOption"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="warning" @click="editUser(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        studentnumber: '',
        name: '',
        gender: 'null'
      },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'หัวหน้าฝ่าย', text: 'หัวหน้าฝ่าย' },
        { value: 'รองหัวหน้าฝ่าย', text: 'รองหัวหน้าฝ่าย' },
        { value: 'พนักงาน', text: 'พนักงาน' }
      ],
      usersList: [
        { id: 1, studentnumber: '60160001', name: 'นายมงคล  แก้วอินทร์', gender: 'หัวหน้าฝ่าย' },
        { id: 2, studentnumber: '60160002', name: 'นายมงคล  แก้วอินทร์', gender: 'รองหัวหน้าฝ่าย' },
        { id: 3, studentnumber: '60160003', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 4, studentnumber: '60160004', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 5, studentnumber: '60160005', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 6, studentnumber: '60160006', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 7, studentnumber: '60160007', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 8, studentnumber: '60160008', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 9, studentnumber: '60160009', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' },
        { id: 10, studentnumber: '60160010', name: 'นายมงคล  แก้วอินทร์', gender: 'พนักงาน' }
      ],
      lastId: 3,
      fields: ['id', 'studentnumber', 'name', 'gender', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    select () {
      console.log('Select Now')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          this.boxTwo = value
          if (value) {
            this.daleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        studentnumber: '',
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.usersList.push(user)
    },
    updateUser (user) {
      const index = this.usersList.findIndex(item => item.id === user.id)
      this.usersList.splice(index, 1, user)
    },
    daleteUser (user) {
      const index = this.usersList.findIndex(item => item.id === user.id)
      this.usersList.splice(index, 1)
    }
  },
  computed: {
    statestudentnumber () {
      return this.form.studentnumber.length === 8
    },
    invalidFeedbackstudentnumber () {
      if (this.form.studentnumber.length === 8) {
        return ''
      } else if (this.form.studentnumber.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 8 ตัวอักษร'
      } else {
        return 'กรุณาใช่หรัสนิสิต'
      }
    },
    validFeedbackstudentnumber () {
      return this.studentnumber === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใช่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
